@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header-superior {

    display: flex;
    background-color: #3750B3;
    justify-content: space-between;
    width: 100vw;
    height: 71px;

}

.right p {

    margin-right: 50px;
}

.left {

    font-family: inter;
    font-size: 20px;
    color: white;
    margin-left: 07vw;
    margin-top:25px;
    
}

.right {

    display: flex;
    font-family: inter;
    font-size: 20px;
    color: white;
    margin-right: 10vw;
    justify-content: space-between;
    margin-top:25px;

}

.caixa-foto {

    display: flex;
    width: 500px;
    height: 600px;
    margin-top: 100px;
    margin-left: 20vh;
    justify-content: center;

}

.foto {

    width: 600px;

}


.meu-titulo h1 {
    font-family: inter;
    font-size: 64px;
    margin-top: 200px;
    margin-left: 300px;
    
}

.meu-titulo p {
    font-family: inter;
    font-size: 32px;
    margin-left: 300px;
    max-width: 30vw;
    text-align: justify;
}

.pagina { 

    display: flex;


}
